.Canvas{
    border: 1px solid blue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 600px;
}
.Canvas::after{
    content: '这是支持音乐可视化的云音乐Web App';
    display: block;
}