.Canvas{
    border: 1px solid blue;
    width: 50px;
    min-width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.Canvas canvas {
    width: 100%;
    height: 100%;
}
.Canvas::after{
    content: '这是支持音乐可视化的云音乐Web App';
    display: block;
}