html {
    font-size: 16px;
}
:root {
    --background: yellow
}
:root {
    --background-color: black;
}
.post-css-banner {
    font-size: 32px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background: var(--background);
}